<div class="container col-xxl-8 px-4 py-5">
  <h1 class="text-center titulo py-3">Bem Vindo !! <br><br> Bora, aprender Angular
    <span class="material-icons"> thumb_up </span>
  </h1> <br>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <div class="card py-3 align-items-center col-lg-6">
      <iframe width="485" height="300" src="https://www.youtube.com/embed/LFlNU30u7d8" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="col-lg-6">
      <h2 class="bg-light">
        O que é Angular e AngularJS?
      </h2>
      <p>
        Vanessa Tonini e Mario Souto conversam neste vídeo sobre o Angular e explicam melhor o que é este framework,
        como ele surgiu, quando é utilizado e quais são as diferenças entre suas versões. Confira!
        <br><br><br><br><br><br><br><br><br><br><br>
      </p>
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Empresas que usam tecnologia Angular</h2>
      <h2>Nomes de algumas grandes empresas</h2>
      <ul>
        <li>Udemy</li>
        <li>YouTube</li>
        <li>Paypal</li>
        <li>Nike</li>
        <li>Google</li>
        <li>Telegran</li>
        <li>iStockphoto</li>
        <li>AWS</li>
        <li>Crunchbase</li>
        <li>Weather</li>
        <li>Upwork</li>
        <li>Freelancer</li>
      </ul>
    </div>
    <div class="card py-4 align-items-center col-lg-6">
      <img width="500" height="300" src="/assets/img/angular.png" alt="nodejs">
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="card align-items-center col-lg-6">
      <img width="300" height="300" src="/assets/img/logo.png" alt="">
    </div>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Pré requisitos para trabalhar com Angular</h2>
      <p>Conhecimentos necessários:</p>
      <ul>
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
      <p>Conhecimento de
        TypeScript
        é útil, mas não obrigatório.</p>
      <br><br><br><br><br><br>
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <h2 class="bg-light text-center">Atendendo os requisitos acima, vamos preparar o <br>
      ambiente para o desenvolvimento Angular <span class="material-icons">
        sentiment_very_satisfied
      </span></h2>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">
        Primeiro passo Instalação do Node.Js
      </h2>
      <p>
        Instalação do Node.JS indo para o site <a href="https://nodejs.org/en/"
          target="_blank">https://nodejs.org/en/</a>
        baixe a versão compativel ao seu sistema operacional, recomendavel fazer o download e instalação da versão LTS.
        <br>
        Se você não tiver certeza de qual versão do Node.js é executada em seu sistema, execute
        <span class="bg-dark text-light">node -v</span>
        em uma janela de seu terminal(cmd ou Ide de sua preferencia).
        <br><br><br><br><br><br><br><br>
      </p>
    </div>
    <div class="card py-3 align-items-center col-lg-6">
      <img width="485" height="300" src="/assets/img/nodejs.png" alt="nodejs">
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="card py-4 align-items-center col-lg-6">
      <img width="500" height="300" src="/assets/img/angularCLI.png" alt="nodejs">
    </div>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Segundo Passo instalação do Angular CLI</h2>
      <p>
        Com Node.Js intalado teremos gerenciador de pacotes npm, com ele faremos a instação do Angular CLI. <br>
        Você usa a CLI Angular para criar projetos, gerar código de aplicativo e biblioteca e executar uma variedade de
        tarefas de desenvolvimento em andamento, como teste, empacotamento e implantação.
        Para instalar o Angular CLI, abra uma janela de terminal e execute o seguinte comando:
        <span class="bg-dark text-light">npm install -g @angular/cli</span>
      </p>
      <br><br><br><br><br><br><br><br>
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h2 class="bg-light text-center">
        Terceiro passo criar um espaço de trabalho e uma aplicação inicial.
      </h2>
      <p>
        Para criar um novo espaço de trabalho e uma aplicação inicial. <br>
        1° - Execute o comando CLI <span class="bg-dark text-light">ng new</span> e forneça o nome <span
          class="bg-dark text-light">my-app</span> conforme mostrado aqui:
        <span class="bg-dark text-light">ng new my-app</span>. <br>
        2° - O <span class="bg-dark text-light">ng new</span> comando solicita informações sobre os recursos a serem
        incluídos na aplicação inicial. Aceite os
        padrões pressionando a tecla Enter ou Return. <br>
        O Angular CLI instala os pacotes Angular npm necessários e outras dependências. Isso pode levar alguns minutos.
        A CLI cria um novo espaço de trabalho e um aplicativo Bem-vindo simples, pronto para ser executado.
        <br><br>
      </p>
    </div>
    <div class="card py-3 align-items-center col-lg-6">
      <img width="485" height="300" src="/assets/img/ng_new.png" class="img-fluid" alt="nodejs">
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="card py-3 align-items-center col-lg-6">
      <img width="485" height="300" src="/assets/img/app-works.png" class="img-fluid" alt="nodejs">
    </div>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">
        Quarto passo executar a aplicação.
      </h2>
      <p>
        O Angular CLI inclui um servidor, para você construir e rodar sua aplicação localmente.

        <br> 1° - Navegue até a pasta do espaço de trabalho, como
        <br> my-app.

        <br> 2° - Execute o seguinte comando:
        <br><span class="bg-dark text-light">cd my-app</span><br>
        <br><span class="bg-dark text-light">ng serve --open</span>
        <br>
        O ng serve esse comando inicia o servidor, observa seus arquivos e reconstrói o aplicação conforme você faz
        alterações nesses arquivos.

        A opção --open(ou apenas -o) abre automaticamente seu navegador para http://localhost:4200/.

        Se sua instalação e configuração foram bem-sucedidas, você deverá ver uma página semelhante ao lado.<br>
      </p>
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <h2 class="bg-light text-center">Recursos mais utilizados no Angular</h2>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Component</h2>
      <p>A maior parte do desenvolvimento quando se utiliza o framework Angular é feito nos componentes. <br>

        <i>Cada componente define uma classe</i>, que contém dados e lógicas da aplicação e está sempre associada a um
        template do HTML, onde são definidos as visualizações deste componente. <br>

        O decorator <span class="bg-dark text-light">@Component()</span> identifica a classe imediatamente como um
        componente e oferece o modelo e os
        metadados
        específicos dele. <br>

        Os metadados configuram, por exemplo, como o componente pode ser referenciado no HTML e também quais os
        serviços devem ser utilizados.
      </p>
    </div>
    <div class="card py-3 align-items-center col-lg-6">
      <img width="485" height="300" src="/assets/img/component.png" alt="">
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="card py-3 align-items-center col-lg-6">
      <img width="500" height="320" src="/assets/img/module.png" alt="">
    </div>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Module</h2>
      <p>Um module é um mecanismo para agrupar components, directives , pipes e services relacionados, de forma a
        combinar com outros módulos para criar um aplicativo. Uma aplicação angular pode ser pensada como um
        quebra-cabeça onde cada peça (ou cada módulo) é necessária para poder ver a imagem completa.
        para executar o module: ng generate module < nome da aplicação>.
      </p>
      <p>
        Exemplo para adicionar um novo module chamado AdminModule em sua aplicação execute o seguinte comando : <br>
        <span class="bg-dark text-light">ng generate module admin</span> ou <span class="bg-dark text-light">ng g m
          admin</span>
      </p>
      <br><br><br><br>
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Directives</h2>
      <p>
        As diretivas são como marcadores no elemento DOM que comunicam ao Angular para incluir um comportamento
        específico.
      </p>
      <p>Existem três tipo de diretivas no Angular, que são: Diretivas de atributos, Diretivas estruturais e
        Componentes.
      </p>
      <p>
        <strong> Diretivas de atributos:</strong> Alteram a aparência ou o comportamento de um elemento, componente ou
        outra diretiva,
        como por exemplo, NgClass e NgStyle. <br>

        <strong>Diretivas estruturais:</strong> Modificam o layout adicionando ou removendo elementos do DOM, como por
        exemplo, NgIf e
        NgFor. <br>

        <strong>Componentes:</strong> São diretivas com um modelo.
      </p>
      <br>
    </div>
    <div class="card py-3 align-items-center col-lg-6">
      <img width="500" height="320" src="/assets/img/directive.png" alt="">
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="card py-3 align-items-center col-lg-6">
      <img width="500" height="320" src="/assets/img/service.png" alt="">
    </div>
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Service</h2>
      <p>
        serviço é uma classe que pode ser utilizada por outros componentes do projeto. <br>
        Dois detalhes importantes são: o que diferencia um serviço de outro tipo de componente e como um componente
        utiliza um serviço. <br>
        Para criar um serviço usando Angular CLI e o comando generate (abreviado por g) e a opção service (abreviada por
        s) executamos por: <br>
        <span class="bg-dark text-light">ng g s < nome da aplicação></span>
      </p>
      <br><br><br><br><br><br>
    </div>
  </div>
  <hr>
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h2 class="bg-light text-center">Rotas</h2>
      <p>
        No Angular, muita coisa é modularizada, e as rotas não são diferentes. Ao criar uma aplicação Angular, somos
        indagados sobre o uso das mesmas <span class="bg-dark text-light">(Would you like to add Angular Routing?)</span>, e ao responder <span class="bg-dark text-light">“Yes”</span>, já temos tudo
        que precisamos para o roteamento. <br>

        Na verdade, tudo que precisamos para ter rotas em nossa aplicação é um arquivo de módulo das rotas e importá-lo
        posteriormente no Root Module. <br>

        Este arquivo de rotas, normalmente chamado app-routing.module.ts, tem a seguinte estrutura.
      </p>
      <br><br><br><br>
    </div>
    <div class="card py-3 align-items-center col-lg-6">
      <img width="500" height="320" src="/assets/img/rotas.png" alt="">
    </div>
  </div>
</div>